<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.pingfang.signalr.chat" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="net.pingfang.signalr.chat.permission.MMOAUTH_CALLBACK"
        android:protectionLevel="normal" />
    <permission
        android:name="net.pingfang.signalr.chat.permission.MM_MESSAGE"
        android:protectionLevel="normal" />

    <uses-permission android:name="net.pingfang.signalr.chat.permission.MMOAUTH_CALLBACK" />
    <uses-permission android:name="net.pingfang.signalr.chat.permission.MM_MESSAGE" />

    <application
        android:name=".util.GlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/hale_icon"
        android:label="@string/app_name"
        android:theme="@style/AppMainTheme" >
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="x0R64seLAwfZHH6cFT5UXofP" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".full.wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1104776883" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.PwdForgetActivity"
            android:label="@string/title_activity_pwd_forget"
            android:screenOrientation="portrait"
            android:theme="@style/AppMainTheme" >
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.CaptureActivityAnyOrientation"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/CaptureThemeFullScreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".activity.ResourcePostActivity"
            android:label="@string/title_activity_resource_post"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.pingfang.signalr.chat.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.AdMaintainActivity"
            android:label="@string/title_activity_ad_maintain"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.pingfang.signalr.chat.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.BulkMsgActivity"
            android:label="@string/title_activity_bulk_msg"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.pingfang.signalr.chat.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.ListShieldsActivity"
            android:label="@string/title_activity_filter_list"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.pingfang.signalr.chat.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.NearbyFriendsActivity"
            android:label="@string/title_activity_nearby_friends"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.pingfang.signalr.chat.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.ChatActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.ResourceListActivity"
            android:label="@string/title_activity_resource_list"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.pingfang.signalr.chat.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.ResourceDetailActivity"
            android:label="@string/title_activity_resource_detail"
            android:parentActivityName=".activity.ResourceListActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.pingfang.signalr.chat.activity.ResourceListActivity" />
        </activity>
        <activity
            android:name=".activity.NearbyAdsActivity"
            android:label="@string/title_activity_nearby_ads"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.pingfang.signalr.chat.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.NearbyAdDetailActivity"
            android:label="@string/title_activity_nearby_ad_detail"
            android:parentActivityName=".activity.NearbyAdsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.NearbyAdsActivity" />
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.pingfang.signalr.chat.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.AccountSettingsActivity"
            android:label="@string/title_activity_account_settings"
            android:parentActivityName=".activity.SettingsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.pingfang.signalr.chat.activity.SettingsActivity" />
        </activity>
        <activity
            android:name=".activity.ChangePwdActivity"
            android:label="@string/title_activity_change_pwd"
            android:parentActivityName=".activity.SettingsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.pingfang.signalr.chat.activity.SettingsActivity" />
        </activity>
        <activity
            android:name=".activity.AccountInfoUpdateActivity"
            android:label="@string/title_activity_account_info_update"
            android:parentActivityName=".activity.SettingsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.pingfang.signalr.chat.activity.SettingsActivity" />
        </activity>
        <activity
            android:name=".activity.AppAboutActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.pingfang.signalr.chat.activity.SettingsActivity" />
        </activity>
        <activity
            android:name=".activity.GuideActivity"
            android:label="@string/title_activity_guide"
            android:parentActivityName=".activity.AppAboutActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.pingfang.signalr.chat.activity.AppAboutActivity" />
        </activity>
        <activity
            android:name=".activity.FeedbackActivity"
            android:label="@string/title_activity_feedback"
            android:parentActivityName=".activity.AppAboutActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.pingfang.signalr.chat.activity.AppAboutActivity" />
        </activity>
        <activity
            android:name=".activity.PhotoViewerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.AccountInfoActivity"
            android:label="@string/title_activity_account_info"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppMainTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.pingfang.signalr.chat.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.ResourceUploadListActivity"
            android:label="@string/title_activity_resource_upload_list"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppMainTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.pingfang.signalr.chat.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.ResourceUploadDetailActivity"
            android:label="@string/title_activity_ad_resource_upload_detail"
            android:parentActivityName=".activity.ResourceUploadListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppMainTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.pingfang.signalr.chat.activity.ResourceUploadListActivity" />
        </activity>
        <activity
            android:name=".activity.AdUploadListActivity"
            android:label="@string/title_activity_ad_upload_list"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppMainTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.pingfang.signalr.chat.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.AdUploadDetailActivity"
            android:label="@string/title_activity_ad_upload_detail"
            android:parentActivityName=".activity.AdUploadListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppMainTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.pingfang.signalr.chat.activity.AdUploadListActivity" />
        </activity>
        <activity
            android:name=".activity.RemarkUpdateActivity"
            android:label="@string/title_activity_remark_update"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppMainTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.pingfang.signalr.chat.activity.HomeActivity" />
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
        <service
            android:name=".service.ChatService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <provider
            android:name=".provider.ChatAppProvider"
            android:authorities="net.pingfang.signalr.chat.provider" />

        <receiver
            android:name="com.tencent.mm.sdk.plugin.MMPluginOAuth$Receiver"
            android:permission="com.tencent.mm.oauth.permission.SEND" >
            <intent-filter>
                <action android:name="com.tencent.mm.sdk.plugin.Intent.ACTION_RESPONSE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.tencent.mm.sdk.channel.MMessage$Receiver"
            android:permission="com.tencent.mm.plugin.permission.SEND" >
            <intent-filter>
                <action android:name="com.tencent.mm.sdk.channel.Intent.ACTION_MESSAGE" />
            </intent-filter>
        </receiver>


    </application>

</manifest>
